*{
    color: white;
    background-color: black;
}


.div2{
    display: flex;
    justify-content: space-between;
}

.div3{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.div4{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cls6{
    background-color: greenyellow;
    width: 60px;
    border-radius: 20px;
    padding-left: 10px;
}

.cls9{
    background-color: greenyellow;
    width: 130px;
    border-radius: 20px;
    padding-left: 10px;
}

.div5{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.div7{
    display: flex;
    justify-content: space-between;
}

.div12{
    display: flex;
    justify-content: space-between;
}

.div14{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cls10{
    background-color: greenyellow;
    width:130px ;
    height:25px ;
    border-radius:20px ;
    padding-top: 5px;
    padding-left: 15px;
}

.div15{
     display: flex;
    justify-content: space-between;
}

.cls12{
    margin-left: 130px;
}

.cls13{
    color: greenyellow;
}

.div22{
    display: flex;
    justify-content: space-between;
}

.div25{
    display: flex;
    justify-content: space-between;
}

.cls14{
    color: greenyellow;
}

