*{
    color: white;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.div7{
    display: flex;
    flex-direction: column;
 }
    
.div10{
    display: flex;
    flex-direction: column;
}

.div12{
    display: flex;
    flex-direction: column;
}

.div15{
    display: flex;
    flex-direction: column;
}

.div19{
    display: flex;
    flex-direction: column;
}

.div22{
    display: flex;
    flex-direction: column;
}

.div30{
    display: flex;
    flex-direction: column;
}

.div36{
    display: flex;
    flex-direction: column;
}

.div35{
    display: flex;
    flex-direction: column;
}

.div43{
    display: flex;
    flex-direction: column;
}

.div45{
    display: flex;
    flex-direction: column;
}

.div51{
    display: flex;
    flex-direction: column;
}

 

  @media only screen and (min-width:768px){
    .div2{
        display: flex;
        justify-content: space-between;
    }
    
    .div3{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .div7{
        display: flex;
        justify-content: space-between;
    }
    
    .cls9{
        background-color: greenyellow;
        width: 120px;
        border-radius: 20px;
        padding-left: 10px;
    }
    
    .div4{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .cls6{
        background-color: greenyellow;
        width: 60px;
        border-radius: 20px;
        padding-left: 10px;
    }
    
    .div5{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .div12{
        display: flex;
        justify-content: space-between;
    }
    
    .div14{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .cls10{
        background-color: greenyellow;
        width: 120px;
        height: 25px;
        border-radius: 20px;
        padding-left: 15px;
        padding-top: 5px;
    }
    
    .cls11{
        background-color: greenyellow;
        width: 120px;
        height: 25px;
        border-radius: 20px;
        padding-left: 15px;
        padding-top: 5px;
    }
    
    .div15{
        display: flex;
        justify-content: space-between;
    }
    
    .cls12{
        margin-left: 85px;
    }
    
    .div25{
        display: flex;
        justify-content: space-between;
    }
    
    .div22{
        display: flex;
        justify-content: space-between;
    }
    
    .cls14{
        color: greenyellow;
    }
    
    .div34{
        display: flex;
        /* gap: 50px; */
        justify-content: space-between;
    }
    
    .cls15{
        margin-top: 25px;
    }
    
    .div35{
        display: flex;
        gap: 50px;
        /* justify-content: space-between; */
    }
    
    .div37{
        display: flex;
        gap: 60px;
        /* justify-content: space-between; */
    }
    
    .cls40{
        color: greenyellow;
    }
    
    
    
    .div45{
        display: flex;
        justify-content: space-between;
    }
    
    .div46{
        display: flex;
        justify-content: space-between;
    }
    
    .div48{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    
    .cls41{
        color: greenyellow;
        margin-left: 70px;
    }
    
    .div49{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    
    .cls42{
        margin-left: 75px;
    }
    
     .div52{
        display: flex;
        justify-content: space-between;
     } 
    
     .div53{
        display: flex;
        justify-content: space-between;
        margin-left: 500px;
        margin-right: 530px;
     }
    
     .div54{
        display: flex;
        justify-content: space-between;
        margin-left: 400px;
        margin-right: 530px;
        gap: 10px;
     }
    
     .div55{
        display: flex;
        justify-content: space-between;
     }
    
  }
