*{
    color: white;
    background-color: rgb(53, 51, 51);
}

.cls2 {
    color: greenyellow;
}

.div5{
    display: flex;
}

.div4{
    display: flex;
    gap: 70px;
}

.faq{
    display: flex;
}

.faq button{
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.faq img{
    margin-top: 5px;
}

.div8 h3{
    overflow: hidden;
}

.div6{
    display: flex;
    gap: 95px;
}

.div7{
    display: flex;
    justify-content: space-between;
}

.div8{
    display: flex;
    justify-content: space-between;
}